<% function capitalize(word) {
    if (!word) return ''; // Handle empty or null input
    return word[0].toUpperCase() + word.slice(1).toLowerCase();
 } %>

 <!-- <% async function deleteItem(id) {
    const res = await fetch("/message/" + id, {
        mode: "cors",
        method: "DELETE"
    });
    const data = await res,json();
    console.log(`Message with id ${id} has been deleted`)
 } %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header class="header">
        <h1><%= title %></h1>
        <button onclick="window.location.href = '/new'">Add New Message</button>
    </header>
    <div class="messages">
        <h1>Messages</h1>

        <% messages.map(message => { %>
            <div class="message">
                <h2><%= capitalize(message.user) %></h2>
                <p><%= message.text %></p>
                <div class="btn-date">
                    <span><%= message.added.toLocaleDateString() + " " + " " + " " + message.added.toLocaleTimeString() %></span>
                    <button onclick="window.location.href='/message/<%= message.id %>'">Open to detail</button>
                    <!-- <button onclick="deleteItem(message.id)">X</button> -->
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>