<% function capitalize(word) {
    if (!word) return ''; // Handle empty or null input
    return word[0].toUpperCase() + word.slice(1).toLowerCase();
 } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header class="header">
        <h1><%= title %></h1>
        <button onclick="window.location.href = '/new'">Add New Message</button>
    </header>
    <div class="messages">
        <% if (messages.length) { %>
        <h1>Messages</h1>
            <% messages.map(message => { %>
                <div class="message">
                    <h2><%= capitalize(message.author) %></h2>
                    <p><%= message.message %></p>
                    <div class="btn-date">
                        <span><%= message.added.toLocaleDateString() + " " + " " + " " + message.added.toLocaleTimeString() %></span>
                        <button onclick="window.location.href='/message/<%= message.id %>'">Open to detail</button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <h3>No messages yet!</h3>
        <% } %>
    </div>
</body>
</html>