<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>'s message</title>
    <link rel="stylesheet" href="/stylesheets/message.css">
</head>
<body>
    <header class="header">
        <h1><%= headerTitle %></h1>
    </header>
    <h2>Message Detail</h2>
    <div class="details">
        <h2><%=message.user %></h2>
        <p><%= message.text %> </p>
        <div class="btn-date">
            <span><%= message.added.toLocaleDateString() +  " " + " " + " "  + message.added.toLocaleTimeString() %></span>
            <button onclick="window.location.href='/'">Back</button>
        </div>
    </div>
</body>
</html>